/User/Package Control.cache
/User/Package Control.last-run
/User/Package Control.merged-ca-bundle
/User/Package Control.user-ca-bundle
oscrypto-ca-bundle.crt

# Apply Syntax autogenerates the following:
User/HTML (Rails).sublime-settings
User/JSON.sublime-settings
User/PHP.sublime-settings
User/Package Control.sublime-settings
User/Ruby Haml.sublime-settings
User/Ruby.sublime-settings
User/XML.sublime-settings
User/YAML.sublime-settings
